## .NET
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.dll
*.DLL
*.exe
*.pdb
*.cache
*.user
*.userprefs
*.suo
*.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea/
*.DotSettings.user
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/
.tye/
*.binlog
target/
Thumbs.db
Desktop.ini
.DS_Store
